<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
	</head>
	
	<body>		
		<h6>hello {{user}} </h6>
		<br>				
		<h2>{{questiontitle}}</h2>
		<h3>{{questioncontent}}</h3>	
		<h4>Asked by {{askedby}} </h4>

		{% if answered	%}
		<h2>Answer by 
		{% endif%}


		<form action = "." method="post" >{% csrf_token %}			
			{{ form }}						
			<input id="id_url" name="url" type="hidden" value=" {{request.get_full_path}} " />
			<input id="id_qid" name="qid" type="hidden" value="{{qid}}" />
			<input type="submit" value = "Answer" name = "submit"/>
		</form>

		<h5>{{suggestion}}</h5>

	<script type="text/javascript">
	{{alert|safe}}
	</script>
	</body>


</html>
