<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<style>
			table, th, td {
			    border: 1px solid black;
			    border-collapse: collapse;
			}
			th, td {
			    padding: 5px;
			    text-align: left;
			}
		</style>
	</head>
	
	<body>

	<table style="width:100%">
		<h4>hello {{user}} </h4>

		<tr>
		<th>Title</th>
		<th>Content</th>
		<th>Answered</th>
		<th>Submitted by</th>

		</tr>
		{% for i in questionlist %}	
			<tr>
			<td>{{i}}</td>
			<td><a href="answerquestion?qid={{i.qid}}">{{i.questioncontent}}</a></td>
			<td> {% if i.answered%} yes {%else%} no {%endif%} </td>
			<td>{{i.askedby}}</td>			
			</tr>

		{% endfor %}		

	</table>
	<br>
	click <a href="/login">here</a> to login<br>
	click <a href="/signup">here</a> to signup<br>
	click <a href="/profile">here</a> to check your profile

		

	</body>
	
</html>
