<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<style>
			table, th, td {
			    border: 1px solid black;
			    border-collapse: collapse;
			}
			th, td {
			    padding: 5px;
			    text-align: left;
			}
		</style>
	</head>
	
	<body>

	<table style="width:100%">	

		<tr>
		<th>Title</th>
		<th>Content</th>
		<th>Answered</th>
		<th>Submitted by</th>

		</tr>
		{% for i in questionlist %}	
			<tr>
			<td>{{i}}</td>
			<td>{{i.questioncontent}}</td>
			<td> {% if i.answered%} yes {%else%} no {%endif%} </td>
			<td>{{i.askedby}}</td>
			</tr>

		{% endfor %}		




	</table>

		

	</body>
	
</html>
